* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 2rem 0;
}

th, td {
    padding: 0.5rem;
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 0.5rem;
}

td{
    background-color: #96D4D4;
}

th {
    background-color: #a9ecec;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 1px;
}

button {
    padding: 0.5rem;
    border: 2px solid white;
    border-collapse: collapse;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.6s;
}

button.add {
    background-color: #7ff579;
}

button.add:hover {
    background-color: #45f82e;
}

button.delete {
    background-color: #f57979;
}

button.delete:hover {
    background-color: #f82e2e;
}

.table-button {
    display: flex;
}

dialog {
    margin: auto;
    border: 0;
    background-color: #a9ecec;
    padding: 2rem;
}

dialog::backdrop {
    backdrop-filter: blur(1px);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

label {
    margin-bottom: 0.3rem;
}

input {
    height: 30px;
    width: 400px;
    margin-bottom: 1rem;
    border: none;
    font-size: 22px;
    border-radius: 0.5rem;
}

.close-pop-up {
    border-color: transparent;
}

.confirm-pop-up {
    border-color: transparent;
}

.close-pop-up:hover {
    background-color: #f57979;
}

.confirm-pop-up:hover {
    background-color: #7ff579;
}